body {
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  padding: 100px 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

.samples {
  margin: 50px 0;
}
